<!DOCTYPE html>
<html>
<head>
  <title>Exo7RailsAuth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= current_user.email %>
  <%= form_tag session_path, method: "delete" do %>
    <%= submit_tag "logout"%>
  <% end %>
<% else %>
  <%= form_tag session_path do %>
    <%= email_field_tag :email %>
    <%= submit_tag "login"%>
  <% end %>
  <%= form_tag signup_path do %>
    <%= email_field_tag :email %>
    <%= submit_tag "signup"%>
  <% end %>
<% end %>
<%= yield %>

</body>
</html>
